@model UniSystemHelpDesk.Models.US_CHAMADOS

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Excluir Chamado</h2>

<h3>Tem certeza que deseja excluir esse chamado?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Cód chamado:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_CHAMADO)
        </dd>

        <dt>
            @Html.DisplayName("Descrição Chamado:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHAMADO)
        </dd>

        <dt>
            @Html.DisplayName("Data de Criação:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA_CRIACAO_CHAMADO)
        </dd>

        <dt>
            @Html.DisplayName("Data de Inicio Suporte:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA_INICIO_SUPORTE)
        </dd>

        <dt>
            @Html.DisplayName("Data de Finalização:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA_FINALIZACAO_CHAMADO)
        </dd>

        <dt>
            @Html.DisplayName("Solução Chamado:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUCAO)
        </dd>

        <dt>
            @Html.DisplayName("Comentários:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMENTARIOS)
        </dd>

        <dt>
            @Html.DisplayName("Equipamento:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.US_EQUIPAMENTO.EQUIPAMENTO)
        </dd>

        <dt>
            @Html.DisplayName("Status:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.US_STATUS.STATUS_CHAMADO)
        </dd>

        <dt>
            @Html.DisplayName("Atendente:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.US_TECNICO.TECNICO)
        </dd>

        <dt>
            @Html.DisplayName("Usuário:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.US_USUARIOS.NOME_USUARIO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
