@model UniSystemHelpDesk.Models.US_CHAMADOS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes do Chamado</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Cód chamado:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_CHAMADO)
        </dd>

        <dt>
            @Html.DisplayName("Descrição Chamado:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHAMADO)
        </dd>

        <dt>
            @Html.DisplayName("Data de Criação:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA_CRIACAO_CHAMADO)
        </dd>

        <dt>
            @Html.DisplayName("Data de Inicio Suporte:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA_INICIO_SUPORTE)
        </dd>

        <dt>
            @Html.DisplayName("Data de Finalização:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA_FINALIZACAO_CHAMADO)
        </dd>

        <dt>
            @Html.DisplayName("Solução Chamado:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUCAO)
        </dd>

        <dt>
            @Html.DisplayName("Comentários:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMENTARIOS)
        </dd>

        <dt>
            @Html.DisplayName("Equipamento:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.US_EQUIPAMENTO.EQUIPAMENTO)
        </dd>

        <dt>
            @Html.DisplayName("Status:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.US_STATUS.STATUS_CHAMADO)
        </dd>

        <dt>
            @Html.DisplayName("Atendente:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.US_TECNICO.TECNICO)
        </dd>

        <dt>
            @Html.DisplayName("Usuário:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.US_USUARIOS.NOME_USUARIO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar Chamado", "Edit", new { id = Model.ID_CHAMADO }) |
    @Html.ActionLink("Voltar", "Index")
</p>
